body {
  /*
  background: linear-gradient(to top, #262b2b, #8e8e95) ;
  */
  background-color: #38787e ;
  margin: 0.5% ;
}

.navbar-brand {
  color: #777 ;
  -webkit-transition:color 200ms ease-in-out;
  -moz-transition:color 200ms ease-in-out;
  -o-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #FFFFFF ;
}
.navbar-default {
  background-color: #454242 ;
  border-color: #000000 ;
}

a.title {
  text-decoration: none ;
  color: #000000 ;
  -webkit-transition:color 200ms ease-in-out;
  -moz-transition:color 200ms ease-in-out;
  -o-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out;
}

a.title:hover {
  color: #ffffff ;
}

/*Color of text after clicked*/
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #777 ;
}

/*Hover transition colour*/
.navbar-default .navbar-nav > li > a {
  -webkit-transition:color 200ms ease-in-out;
  -moz-transition:color 200ms ease-in-out;
  -o-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff ;
}

/*Fade in dropdown menu*/
.dropdown-menu {
  display: block ;
  visibility: hidden ;
  opacity: 0 ;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1 ;
  visibility: visible ;
  margin-top: 0;
}

img {
  align-content: center;
  
}
