body {
  /*
  background: linear-gradient(to top, #262b2b, #8e8e95) ;
  */
  background-color: #38787e ;
}

.navbar-default {
  background-color: #454242 ;
  border-color: #000000 ;
}

a.title {
  text-decoration: none ;
  color: #000000 ;
}

a.title:hover {
  color: #ffffff ;
}
